{% extends 'base.html' %}

{% block script %}
<script>
    function preventBack() { window.history.forward(); }    
    setTimeout("preventBack()", 0);  
    window.onunload = function () { null }; 

    function fn1(){
        window.location="s1";
    }

    // for the tab part
    function openTab(evt, tabName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    // Automatically click on the first tab when the page loads
    document.addEventListener("DOMContentLoaded", function() {
        document.getElementsByClassName("tablinks")[0].click();
    });
</script>
{% endblock %}

{% block headline %}

<p class="t_note">
    Please read through the instructions and then start the task.<br><br>

    Your goal is to navigate the metro lines using the provided interface, starting at 8:30 and reaching your destination by 9:00.<br>
    Please plan your route carefully and avoid unnecessary detours to ensure you arrive in time. 
<br><br>
    At each station, you will have 90 seconds to choose an action, which will lead you to the next station. <br>
    The clock time will increase based on your choices, but the 90-seconds decision time does not affect the clock. 
    <br><br>
    To successfully complete the task, you must arrive your destination before 9:00, and make decisions within the 90-second limit at any station. 

</p>


{% endblock %}

{% block top_block %}

<p class="t_note">
    This section will display your destination, current station, clock time, and the remaining time to make a decision. <br>
    The current station and clock time will update based on your action choice. <br>    
</p>
Goal Station:   ***
<br><br>

<div>
    Current station: <span style="border: 1px solid #000; padding: 5px; padding-left: 3%;padding-right: 3%;border-radius: 3px;">***</span>
</div>
<br>
<div>
    Clock Time: <span style="border: 1px solid #000; padding: 5px; border-radius: 3px;padding-left: 3%;padding-right: 3%;">{{current_time}}</span>
</div>
<br>
<div>
    Time left to make an action: 
    <span id="timer" style="border: 1px solid #000; padding: 5px; border-radius: 3px;padding-left: 3%;padding-right: 3%;">90</span> seconds
</div>
{% endblock %}



{% block left_block %}
<p class="t_note">
    A metro map and its timetables are presented here to help you plan your trip. 
    You can use the timetables to determine the travel times between stations. 
    Click the tab below to see the timetables.
<br><br>
    Note: The map and timetables here are for illustrative purposes only. 
    Different ones will be used in the actual task.
    Also, transfer times between different metro lines are not considered. 
</p>
<br><br>
<div class="tab">
    <button class="tablinks" onclick="openTab(event, 'Tab1')">Metro Map</button>
    <button class="tablinks" onclick="openTab(event, 'Tab2')">Blue Line Timetable</button>
    <button class="tablinks" onclick="openTab(event, 'Tab3')">Red Line Timetable</button>
    <button class="tablinks" onclick="openTab(event, 'Tab4')">Yellow Line Timetable</button>
</div>

<div id="Tab1" class="tabcontent">
    <img src="{{ url_for('static', filename='img/map_intro.jpg') }}" alt="Metro Map" style="width: 100%;">
</div>

<div id="Tab2" class="tabcontent">
    <img src="{{ url_for('static', filename='img/intro_timetable.jpg')}}" alt="Blue Line Timetable" style="width: 100%;">
</div>

<div id="Tab3" class="tabcontent">
    <img src="{{ url_for('static', filename='img/intro_timetable.jpg')}}" alt="Blue Line Timetable" style="width: 100%;">
</div>

<div id="Tab4" class="tabcontent">
    <img src="{{ url_for('static', filename='img/intro_timetable.jpg')}}" alt="Blue Line Timetable" style="width: 100%;">
</div>

<br>

{% endblock %}

{% block right_block %}
    <p class="t_note">
        Here, choose your action to move to the next station. The clock time will adjust according to the time cost of your action. <br>
        Available choices are shown in their metro colors, while unavailable options are greyed out. <br>
        Once selected, your choice will change from white to black text.
    </p>

    <div class="form-action">
    <form method="POST">
        {{ form.hidden_tag() }}

        {% for subfield, choice in zip(form.action, choices) %}
            <div class="radio">
                {{ subfield(disabled=not choice[2], id=subfield.id, class_="colored-radio " + choice[0]) }}
                <label for="{{ subfield.id }}" class="colored-label {{ choice[0] }}">
                    {{ choice[1] | safe }}
                </label>
            </div>
        {% endfor %}

    </form>
    </div>

    <p class="t_note">
        If you have understood everything, please click the button "Start" to access the task. 
        All the notes in the boxes will disappear, and the task will start immediately. 
    </p>
<br>
<button onclick="fn1()" id="btn1" class = "continue-btn">Start</button>
{% endblock %}